img {
  width: 200px;

}
body {
    text-align: center;
    font-family: 'JetBrains Mono','Comic Sans MS', Candara, Arial;
    background: rgb(141, 247, 141);
    color: darkgreen;
}
ul {
  list-style-position: inside;
  text-align: center;
}
h4 {
  display: list-item;
  list-style-type: disc;
  margin-left: 1.5em;
}
